body {
  background-color:#C9E5F0;
}

h1 {
  font-family: "verdana", sans-serif;
  text-align: center;
}

.MyDiv {
  text-align:center;
  background-image:url("https://s3.amazonaws.com/aws-website-rosieilenecom-820ui/images/background-pic.jpg");
  background-repeat:no-repeat;
  /*background-size:cover;*/
  background-position:center;
  background-color:dodgerblue;
  background-origin:content-box;
  overflow:hidden;
  padding:250px;
  /*height:2400px;
  width:3000px;*/
  margin: 0.5cm 0cm 0cm 0cm;
  
}

.MyDivOthers {
  text-align:center;
  background-image:url("https://s3.amazonaws.com/aws-website-rosieilenecom-820ui/images/background-pic.jpg");
  background-repeat:no-repeat;
  /*background-size:cover;*/
  background-position:center;
  background-color:dodgerblue;
  background-origin:content-box;
  overflow:hidden;
  padding:70px;
  /*height:400px;
  width:300px;*/
  margin: 0.5cm 0cm 0cm 0cm;
 
}

.mydiv2 {
  text-align: center;
}

ul li{
font-family:"verdana", sans-serif;
}
  
  
.intro {
}

.stats {
}

.question {
}

.end{
}

#navigation{
	text-align:center;
}

h2 {
  font-family: "verdana", sans-serif;
}

h3 {
  font-family: "verdana", sans-serif;
}

h4 {
  font-family: "verdana", sans-serif;
}

p {
  font-family: "verdana", sans-serif;
}

a {
color:royalblue;
font-family: "verdana", sans-serif;
}

a:hover {
    color:aqua;
}

.contact {
	text-align:center;
}
