body {
  background-color:thistle;
}

h1 {
  font-family: "verdana", sans-serif;
  text-align: center;
}

h2 {
  font-family: "verdana", sans-serif;
}

h3 {
  font-family: "verdana", sans-serif;
}

h4 {
  font-family: "verdana", sans-serif;
}

p {
  font-family: "verdana", sans-serif;
}

a {
color:darkviolet;
font-family: "verdana", sans-serif;
}

a:hover {
    color:magenta;
    )
